/* =========== 공통부분, Header, oo탭영역 =========== */

/* --- 인라인 블럭 처리 구역, 가상 선택자 --- */

/*
색상 복붙

===흰색===
#FFF
#F8F8F8

===주황색===
#F1D6AB
#E3B04B

===검정색===
#2b2b2b
#000

===회색===
#6B6B6B
#595959
#949494

border:1px solid #F2F2F2; 
    box-shadow:1px 1px 2px 0 rgb(0 0 0 / 20%);

border:1px solid #e5e5e5;
*/

/*  main CSS  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    color: black;
}


#wrap {
    width: 100%;
    overflow: hidden;
}

/*  우측 하단 맨위로  */
.movetop{
    position: fixed;
    right: 40px;
    bottom: 35px;
}

.movetop>a::after{
    content: "\f062";
    font: var(--fa-font-solid);
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
    background-color: #000;
    font-weight: bold;
    font-size: large;
}

/*  ==========구분===========  */

#main_wrap {
    text-align: center;
    overflow: hidden;
}

/*  main goods  */

.main_textbox {
    width: 1280px;
    height: 70px;
    font-size: 50px;
}

.main_textbox+ul{
    margin-top: 20px;
}

.main_goods {
    overflow: hidden;
    width: 1280px;
    border: 2px solid black;
    margin: auto;
}

.main_goods_wrap>div{
    margin: 20px 0;
}

.main_goods>ul>li {
    float: left;
    height: 410px;
    margin-bottom: 30px;
}

/* goods_href */


.goods_href{
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.goods_href:hover{
    outline: 1px solid black;
}

.goods_href_textbox{
    font-weight: bold;
    font-size: 1.1em;
}

.goods_href img{
    width: 60px;
    vertical-align: middle;
}

.goods_href>a{
    display: inline-block;
    width: 85px;
    line-height: 85px;
}

/* goods */

.goods {
    width: 272px;
    margin-right: 20px;
    margin-left: 20px;
}

.goods_imgbox {
    width: 270px;
    height: 236px;
}

.goods_imgbox img{
    height: 220px;
}

.goods_textbox{
    width: 272px;
    height: 135px;
}

.goods_textbox strong{
    display: block;
    font-size: 16px;
}

.goods_textbox span{
    font-size: 0.57em;
}

.my_goods {
    width: 300px;
    float: left;
    margin-left: 20px;

    position: relative;
    bottom: 10px;
    border: 1px solid #000;
}

.checkBox>div{
    display: inline-block;
    width: 288px;
    text-align: center;
}

.my_goodsBox{
    height: 50px;
}

.my_goods_fixed{
    width: 300px;
    text-align: left;
    border: 1px solid #000;
    position: fixed;
    left: 20px;
    top: calc(50% - 160.5px);

}


.my_goodsBox div{
    display: inline-block;
    line-height: 50px;
}

.my_goodsBox>div:nth-of-type(2){
    font-weight: bold;
}

.my_goods_fixed>div>div:nth-of-type(1),
.my_goods_fixed>div>div:nth-of-type(3){
    width: 18%;
    font-size: smaller;
    text-align: center;
}

.my_goods_fixed>div>div:nth-of-type(2){
    width: 60%;
    font-size: smaller;
    line-height: inherit;
}

.my_goodsBox>div:nth-child(3)::after{
    content: "\f00c";
    font: var(--fa-font-solid);

}

.goods_buy_button>button{
    margin-top: 5px;
}

.goods_buy_button>button:nth-of-type(1)>a::after{
    content: "\f07a";
    font: var(--fa-font-solid);
}

.goods_buy_button>button:nth-of-type(2)>a::after {
    content: "\f004";
    font: var(--fa-font-solid);
}

.goods_buy_button>button:hover>a{
    color: red;
    font-weight: bold;
}